
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
	font-family: "Lato";
	color: #424551;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media(max-width: 1289.98px) {
	[class*="__container"]{
		max-width: 970px;
	}
}
@media(max-width: 991.98px) {
	[class*="__container"]{
		max-width: 750px;
	}
}
@media(max-width: 767.98px) {
	[class*="__container"]{
		max-width: none;
	}
}
@media(max-width: 479.98px) {
}



.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 50;
	background-color: rgba(17, 31, 86, 0.207);
}
@media (max-width: 1100px){
.header {
    padding-top: 15px;
    padding-bottom: 15px;
} 
}
.header__container {
	display: grid;
    grid-template-columns: 130px 1fr auto;
    gap: 60px;
    align-items: center;
}
@media (max-width: 1100px){
.header__container {
    gap: 40px;
}
}
@media (max-width: 991px){ 
.header__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 15px;
}
}
.header__logo {
}
.header__logo img {
    width: 100%;
}
@media (max-width: 991px){
.header__logo {
    display: inline-grid;
    justify-content: center;
}
}
.header__menu {
}
.menu__list {
	display: grid;
    justify-content: start;
    grid-template-columns: repeat(5, auto);
    column-gap: 40px;
    align-items: center;
}
.menu__link {
	font-weight: 700;
}
.menu__link:hover{
	text-decoration: underline;
}
.aside {
	display: grid;
    column-gap: 36px;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
    align-items: center;
}

.aside__auth {
	background: url('../img/icons/user.svg') left no-repeat;
	padding-left: 24px;
	font-weight: 700;
	line-height: 1.25;
}
.aside__auth:hover span{
	text-decoration: underline;
}
@media (max-width: 991px){
.aside {
    justify-content: center;
    column-gap: 36px;
}
}

.page {
	margin-bottom: 20px;
}
.main-block {
	position: relative;
	padding: 200px 0px 80px 0px;
	background: linear-gradient(55.95deg, rgba(253, 84, 79, 0.2) 0%, rgba(233, 88, 4, 0.2) 100%);
}
@media (max-width: 1100px){
.page__main:not(:last-child) {
    margin-bottom: 20px;
}
}
@media (max-width: 860px){
.main-block {
    padding-top: 180px;
}
}

@media (max-width: 600px){
.main-block {
    padding-bottom: 40px;
}
}
.main-block__container{
	position: relative;
	z-index: 2;
}
.main-block__body {
	margin-bottom: 190px;
}

.body {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 189px;
    z-index: 4;
}
.body__content {
	align-items: center;
    padding-right: 40px;
}
@media (max-width: 860px){
.body__content {
    align-items: center;
    padding-right: 0px;
}
}
.body__play {
	display: inline-grid;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    gap: 0px 16px;
    align-items: center;
    grid-template-columns: 52px 1fr;
    position: relative;
}
.body__play:not(:last-child){
	margin-bottom: 40px;
}

.body__play::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	transform: scale(1.6);
	animation:play-circle 2s infinite ease;
}
.body__play::before {
	content: "";
	width: 52px;
	height: 52px;
	border-radius: 50%;
	transition: background-color 0.4s ease 0s;
	background: #FF3F3A url('../img/icons/play.svg') center no-repeat;
}

.body__play:hover::after {
	animation-play-state: paused;
}
.body__play:hover::before {
	background-color: #ed3b34;
}

@keyframes play-circle {
	0% {
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		transform: scale(2.6);
	}
}
@media (max-width: 970px){
.body__play:not(:last-child) {
    margin-bottom: 45px;
}
}
@media (max-width: 480px){
.body__play:not(:last-child) {
    margin-bottom: 25px;
}
}
.body__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
}
.body__title:not(:last-child) {
	margin-bottom: 60px;
}
@media (max-width: 1100px){
.body__title {
    font-size: 58px;
}
}
@media (max-width: 970px){
.body__title:not(:last-child) {
    margin-bottom: 50px;
}
.body__title {
    font-size: 54px;
}
}
@media (max-width: 860px){
    .body__title {
        text-align: center;
    }
 }
 @media (max-width: 425px){
    .body__title {
        font-size: 34px;
    }
    }
.body__actions {
	display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 24px;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 4;
}
.body__actions:not(:last-child) {
	margin-bottom: 40px;
}
@media (max-width: 860px){
.body__actions {
    display: grid;
    justify-content: center;
    align-items: center;
}
}
@media (max-width: 480px){
.body__actions {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    row-gap: 10px;
    text-align: center;
}
}

.body__media {}
.body__image {
	max-width: 107.8%;
	transform: translate(7.8%, 0px);
}
.advantages-main {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
}
@media (max-width: 991px){
.advantages-main {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    gap: 20px 30px;
}
}
@media (max-width: 600px){
.advantages-main {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    gap: 20px 30px;
    }
}

.item {
	display: grid;
    align-items: center;
    column-gap: 12px;
    grid-template-columns: repeat(2, auto);
}
.item__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
.item__text {
	line-height: 1.5;
}
.advantages-main__circle {
	border-radius: 50%;
	height: 8px;
	width: 8px;
	background: #FF3F3A;
}
.decor-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-main__item {
	position: absolute;
}
.decor-main__item--1 {
	background: url('../img/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4.2%;
}
.decor-main__item--2 {
	background: url('../img/decor/02.svg') 0 0 no-repeat;
	width:284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.2%;
}
.decor-main__item--3 {
	background: url('../img/decor/04.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 45%;
	left: 40%;
}
.decor-main__item--4 {
	background: url('../img/decor/03.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	bottom: 24%;
	left: 38%;
}
.decor-main__item--5 {
	background: url('../img/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: -1.5%;
	right: 4%;
	transform: rotate(135deg);
}
.decor-main__item--6 {
	background: url('../img/decor/05.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom:18%;
	right: -1.5%;
}
.who-we-are {
    position: relative;
    background: #eeeaea;
	padding: 180px 0;
}
@media (max-width: 1100px){
.who-we-are:not(:last-child) {
    margin-bottom: 20px;
}
}
.who-we-are__container {
	position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 57.3% 31.7%;
    justify-content: space-between;
    column-gap: 130px;
}
@media (max-width: 1100px){
.who-we-are__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
}
}
.who-we-are__image {
    border-radius: 4px;
}
.who-we-are__image img {
	max-width: 100%;
}
@media (max-width: 1100px){
.who-we-are__image {
    width: 100%;
    order: 2;
}
}
.who-we-are__content {
    padding-left: 10px;
}
@media (max-width: 1100px){
.who-we-are__content {
    padding-left: 0px;
}
}
.subtitle {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
	margin-bottom: 8px;
}
@media (max-width: 1100px){
.subtitle {
    text-align: center;
}
}
.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
	margin-bottom: 35px;
}
@media (max-width: 1100px){
.title {
    text-align: center;
}
}
@media (max-width: 580px){
    .title:not(:last-child) {
        margin-bottom: 20px;
    }
    .title {
        font-size: 40px;
    }
    }
.who-we-are__list:not(:last-child) {
    margin-bottom: 48px;
}

.who-we-are__list :not(:last-child) {
    margin-bottom: 8px;
}
@media (max-width: 580px){
.who-we-are__list:not(:last-child) {
    margin-bottom: 24px;
}
}
.who-we-are__item {
    position: relative;
    padding-left: 32px;
	line-height: 160%;
}
.who-we-are__item:not(:last-child) {
    margin-bottom: 12px;
}
.who-we-are__item::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/icons/check.svg") 0 0 no-repeat;
    position: absolute;
    top: 5px;
    left: 0;
    transition: all 0.4s ease 0s;
}
@media (max-width: 1100px){
.who-we-are__button {
    text-align: center;
    width: 100%;
}
}

.who-we-are__decor {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.decor-block__item {
	position: absolute;
}
.decor-block__item--1 {
    background: url("../img/decor/dots.svg") 0 0 no-repeat;
    width: 181px;
    height: 132px;
    transform: rotate(-45deg);
    top: 26%;
    left: -68px;
}
.decor-block__item--2 {
    background: url("../img/decor/07.svg") 0 0 no-repeat;
    width: 287px;
    height: 287px;
    top: 21.5%;
    right: -8.5%;
    opacity: 0.25;
}
.courses__header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: start;
}
.courses__header:not(:last-child) {
    margin-bottom: 60px;
}
@media (max-width: 1100px){
.courses__header:not(:last-child) {
    margin-bottom: 30px;
}
}
@media (max-width: 991px){
.courses__header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    text-align: center;
}
}
@media (max-width: 991px){
.courses__header:not(:last-child) {
    margin-bottom: 15px;
}
}

.label__sub-title {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.label__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}
.courses__button {
    display: inline-grid;
    align-self: end;
    align-items: end;
    text-align: center;
}
.courses__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
}
@media (max-width: 991px){
.courses__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
}
.courses__card {
    display: grid;
    grid-template-columns: 35.6% 64.4%;
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgb(154 156 165 / 8%), 0px 30px 24px -10px rgb(154 156 165 / 5%), 0px 12px 10px -6px rgb(154 156 165 / 4%), 0px 4px 4px -4px rgb(30 33 44 / 3%);
    border-radius: 4px;
    position: relative;
}
@media (max-width: 991px){
    .courses__card {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px){
.courses__card {
    grid-template-columns: 1fr;
}
}
.card__image {
    border-radius: 4px 0px 0px 4px;
    position: relative;
    padding-bottom: 99%;
}
.card__image img {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__content {
    padding: 32px;
    display: grid;
    row-gap: 20px;
    grid-template-rows: auto 1fr auto;
}
.card__button {
    display: inline-grid;
    justify-self: start;
}

element.style {
}
.card__button {
    display: inline-grid;
    justify-self: start;
	border-radius: 4px;
	font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    display: inline-block;
    align-items: center;
    padding: 1px 8px;
}
.card__button--green {
    background: #03CEA4;
}
.card__button--blue{
	background: #5A87FC;
}
.card__button--orange {
	background: #F89828;
}
.card__button--pink {
	background: #F52F6E;
}
.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}
.card__by {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    justify-content: start;
    column-gap: 8px;
}
.card__by span {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
}
.footer {
	font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #2a03a7 100%);
    padding: 20px 0px;
    text-align: center;
}




























